html {
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}

.container {
  background-image: url("https://images.unsplash.com/photo-1499346030926-9a72daac6c63?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1000&q=80");
  width: 50%;
  border: 3px solid #4286f4;
  box-shadow: 2px 2px #638cce;
  text-align: center;
  margin: 20px auto;
}

.form {
  margin: 10px;
  padding: 10px;
}

.form input {
  margin: 5px;
  text-align: center;
  border-radius: 5px;
}

.form button {
  margin: 5px;
  text-align: center;
  border-radius: 5px;
}
